<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-page__content">
                    <!-- POST -->
                    <div id="articles">
                        <%= render 'paging_articles' %>
                    </div>
                    <!-- END / POST -->
                </div>
            </div>
            <%= render "blog/right_menu_side" %>
            </div>
        </div>
    </div>
</section>

