/* line 1, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.masonry-section-demo {
  margin: 70px 0;
}

/* line 4, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.trip-flight-hotel-section-demo,
.sale-flights-section-demo {
  margin-top: 30px;
  margin-bottom: 200px;
}

/* line 9, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.masonry-section-demo .more-destination {
  background-image: url(../images/img/bg-button.jpg);
}

/* line 12, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.travelling-block-section-demo {
  background-image: url(../images/img/17.jpg);
}

/* line 15, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.category-heading-section-demo {
  background-image: url(../images/img/3.jpg);
}

/* line 18, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.login-page-demo {
  background-image: url(../images/bg/1.jpg);
}

/* line 21, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.register-page-demo {
  background-image: url(../images/bg/2.jpg);
}

/* line 24, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.page-heading-demo {
  background-image: url("<%=asset_path(blog_heading.jpg)%>");
}

/* line 27, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.more-destination {
  background-image: url(../images/img/bg-button.jpg);
}

/* line 30, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.widget_background__half .bg {
  background-image: url(../images/img/2.jpg);
}

/* line 34, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.your-destinations-section-demo {
  margin-top: 50px;
  margin-bottom: 150px;
}

/* line 38, /home/suzunghia/Documents/Project/avacatour/app/assets/stylesheets/image.css.scss */
.checkout-section-demo {
  padding-top: 62px;
  padding-bottom: 140px;
}
