<section>
    <div class="container">
        <div class="row">
        	<div class="col">
	        	<div class="blog-page__content">
		        	<div id="articles">
		                <%= render 'blog/home/paging_articles' %>
		            </div>
	            </div>
            </div>
        </div>
    </div>
</section>
