<div class="col-md-3">
                <div class="page-sidebar">
                    <!-- WIDGET -->
                    <div class="widget widget_search">
                        <h3>Search in Blog</h3>
                        <%= form_tag search_path, enforce_utf8: false, :method => "get" do%>
							<%= text_field_tag :q, params[:q], placeholder: "Search Posts" %>
                        <%end%>
                    </div>
                    <!-- END / WIDGET -->

                    <!-- WIDGET -->
                    <div class="widget widget_follow_us">
                        <h3>Follow us</h3>
                        <div class="awe-social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <!-- END / WIDGET -->
                    
                    <!-- WIDGET -->
                    <div class="widget widget_categories">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li>
                                <a href="#">Uncategorized</a>
                                <ul>
                                    <li><a href="#">Popular</a></li>
                                    <li><a href="#">New</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                    <!-- END / WIDGET -->

                    <!-- WIDGET -->
                    <div class="widget widget_has_thumbnail">
                        <h3>Recent Posts</h3>
                        <ul>
                            <li>
                                <div class="image-wrap image-cover">
                                    <a href="single-post.html">
                                        <!-- <img src="images/img/1.jpg" alt=""> -->
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="#">How to Crteate Course in this theme? This is title of the blog</a>
                                </div>
                            </li>
                            <li>
                                <div class="image-wrap image-cover">
                                    <a href="single-post.html">
                                        <!-- <img src="images/img/2.jpg" alt=""> -->
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="#">Top 10 Design courses of October 2013</a>
                                </div>
                            </li>
                            <li>
                                <div class="image-wrap image-cover">
                                    <a href="single-post.html">
                                        <!-- <img src="images/img/3.jpg" alt=""> -->
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="#">How to Crteate Course in this theme? This is title of the blog</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END / WIDGET -->

                    <!-- WIDGET -->
                    <div class="widget widget_tag_cloud">
                        <h3>Tags</h3>
                        <div class="tagcloud">
                            <a href="#">Hotel</a>
                            <a href="#">Motel</a>
                            <a href="#">Hostel</a>
                            <a href="#">Homestay</a>
                        </div>
                    </div>
                    <!-- END / WIDGET -->

                </div>